body * {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-weight: 900;
}

body {
    background-color: red;
}

.page {
    width: 850px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 40px;
}

.small-font {
    font-size: 14px;
}

/* For smaller graphs (3 and 5) */
.vis-container-small {
    width: 150px;
    height: 120px;
    margin: 0 auto;
}

/* Larger gap between the two small graphs */
.graph-gap {
    margin-left: 50px; /* Increased gap */
}

/* Align the first three graphs on the left side */
.pure-g .pure-u-1-2 {
    text-align: left; /* Align graph containers to the left */
}

/* Optional: Add margins to the visualizations to center text and adjust layout */
.pure-u-1-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Space out descriptions more cleanly */
.description {
    padding-bottom: 20px;
}
